<!-- <app-books></app-books>
<app-cart></app-cart> -->
<nav class="flex justify-between p-4 bg-purple-900 text-white">
  <div>
    <a routerLink="">Book Shop</a>
  </div>
  <div>
    <a class="mx-3" routerLink="/cart">My Cart</a>
    <ng-container *ngIf="!isAuth()">
      <a class="mx-3" routerLink="/login">Login</a>
      <a class="mx-3" routerLink="/register">Register</a>
    </ng-container>
    <ng-container *ngIf="isAuth()">
      <button (click)="logOut()" class="mx-4">Logout</button>
    </ng-container>
  </div>
</nav>
<div class="p-4">
  <router-outlet></router-outlet>
</div>
